.banner {
	margin-top: 92px;
	position: relative;
	.p-banner {
		background: rgba(0,0,0,.7);
		display: block;
		width: 100%;
		height: 2rem;
		line-height: 2rem;
		text-align: center;
		color: $blanco;
		position: absolute;
		bottom: -1rem;
	}
	.carousel-item-1 {
		background: url("../img/muro-movil-acustico.jpg") no-repeat;
		background-size: cover;
		height: 35vh;
	}
	.carousel-item-2 {
		background: url("../img/muro-movil-mexico.jpg") no-repeat;
		background-size: cover;
		height: 35vh;
	}
	.carousel-item-3 {
		background: url("../img/muros-acusticos-garcia.jpg") no-repeat;
		background-size: cover;
		height: 35vh;
	}
	.carousel-item-4 {
		background: url("../img/muros-acustico-movil.jpg") no-repeat;
		background-size: cover;
		height: 35vh;
	}
}

/* ---------------------------------
Queries tablet
----------------------------------*/
@include tablet {
	.banner {
		.p-banner {
			height: 3rem;
			line-height: 3rem;
		}
		.carousel-item-1, .carousel-item-2, .carousel-item-3, .carousel-item-4 {
			height: 40vh;
		}
	}
}

/* ---------------------------------
Queries desktop
----------------------------------*/
@include desktop {
	.banner {
		.p-banner {
			height: 3rem;
			line-height: 3rem;
		}
		.carousel-item-1, .carousel-item-2, .carousel-item-3, .carousel-item-4 {
			height: 60vh;
		}
	}
}