.footer-contenedor {
	background-color: $negro1;
	color: $gris1;
	padding-top: 2rem;;
	h4 {
		color: $blanco;
		font-size: 0.9rem;
		line-height: 2rem;
	}
	span {
		font-size: 0.8rem;
		display: block;
		i {
			margin-right: 0.5rem;
			width: 1rem;
			text-align: center;
		}
	}
	.mapa-sitio {
		ul {
			list-style: none;
			padding: 0;
			li {
				font-size: 0.8rem;
				a {
					color: $gris1;
					text-decoration: none;
					&:hover {
						color: $verde1;
						border-bottom: 1px solid $verde1;
					}
				}
			}
		}
	}
	.social-pie {
		text-align: center;
		font-size: 1.6rem;
		a {
			color: $blanco;
			padding: 0 10px;
		}
	}
	.p-playweb {
		color: $gris1;
		font-size: 0.9rem;
		text-align: center;
		margin: 0;
		line-height: 3rem;
		a {
			color: $verde1;
			text-decoration: none;
			&:hover {
				border-bottom: 1px solid $verde1;
			}
		}
	}
}