.galeria-imagenes {
	margin-bottom: 3rem;
	.container-img {
		max-width: 500px;
		margin-bottom: 1rem;
		width: 100%;
		img {
			width: 100%;
		}
	}
}

/* ---------------------------------
Queries tablet
----------------------------------*/
@include tablet {
	.galeria-imagenes {
		display: flex;
		justify-content: space-between;
		.container-img {
			flex: 0 0 25%;
			padding: .5rem;
		}
	}
}