.llamado {
	background-color: $verde2;
	padding: 1.5rem 0;
	text-align: center;
	.p-llamado {
		text-transform: uppercase;
		color: $negro1;
		font-weight: 600;
	}
	.btn-link {
		color: $negro2;
		background-color: $blanco;
		padding: 10px 20px;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: 400;
		font-size: .9rem;
		display: block;
		max-width: 200px;
		margin: 1rem auto;
		&:hover {
			text-decoration: none;
			background-color: rgba(255,255,255,.8);
		}
		i {
			margin-left: .5rem;
		}
	}
}