.fila-menu {
	background-color: $blanco;
	color: $negro1;
	padding: 0.5rem 0 0 0;
	border: 1px solid red;
	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		.logotipo {
			margin-left: 1rem; 
			img {
			max-width: 100px;
			height: auto;
			}
		}
		.boton-menu {
			border: 0;
			font-size: 1.8rem;
			margin-left: auto;
			margin-right: 0.5rem;
			padding: 0 .5rem;
			background-color: transparent;
			color: $negro1;
		}
		.boton-menu:focus {
			outline: 0;
		}
		.menu-principal {
			flex: 1 1 100%;
			ul {
				list-style: none;
				padding: 0;
				margin: 1rem 0 0 0;
				.active a {
					color: $verde2;
				}
				a {
					background-color: $negro1;
					display: block;
					padding: 0.8rem 0;
					text-align: center;
					text-transform: uppercase;
					font-weight: 400;
					font-size: 0.9rem;
					color: $blanco;
					border-top: 1px solid $gris1;
					text-decoration: none;
					position: relative;
				}
				a::after {
					content:"\f054";
					font-family: FontAwesome;
					font-size: 0.8rem;
					margin-left: 1rem;
					opacity: .5;
					position: absolute;
					right: 2rem;
				}
				a:hover {
					color: $verde1;
				}
			}
		}
	}
}