.fila-menu {
	background-color: $blanco;
	color: $negro1;
	padding: 0.5rem 0 0 0;
	border: 1px solid red;
	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		.logotipo {
			margin-left: 1rem; 
			img {
			max-width: 100px;
			height: auto;
			}
		}
		.boton-menu {
			border: 0;
			font-size: 1.8rem;
			margin-left: auto;
			margin-right: 0.5rem;
			padding: 0 .5rem;
			background-color: transparent;
			color: $negro1;
		}
		.boton-menu:focus {
			outline: 0;
		}
		.menu-principal {
			flex: 1 1 100%;
			ul {
				list-style: none;
				padding: 0;
				margin: 1rem 0 0 0;
				.active a {
					color: $verde2;
				}
				a {
					background-color: $negro1;
					display: block;
					padding: 0.8rem 0;
					text-align: center;
					text-transform: uppercase;
					font-weight: 400;
					font-size: 0.9rem;
					color: $blanco;
					border-top: 1px solid $gris1;
					text-decoration: none;
				}
				a:hover {
					color: $verde1;
				}
			}
		}
	}
}
/*.fila-menu {
	background-color: $blanco;
	position: fixed;
	z-index: 10;
	width: 100%;
	padding-bottom: 1rem;
	.menu {
		display: flex;
		flex: 1 1 100%;
		align-items: center;
		justify-content: space-between;
		.logotipo {
			max-width: 100px;
			display: inline-block;
			margin: 0 0 0 1rem;
			img {
				width: 100%;
			}
		}
		.boton-menu {
			border: 0;
			font-size: 1.8rem;
			margin: 0 1rem 0 0;
			padding: 0 .5rem;
			background-color: transparent;
			color: $negro1;
		}
		.boton-menu:focus {
			outline: 0;
		}
	}
	.menu-principal {
		width: 100%;
		ul {
			list-style: none;
			padding: 0;
			text-transform: uppercase;
			text-align: center;
			font-size: 0.9rem;
			font-weight: 500;
			margin: 0;
			li {
				background-color: $negro1;
				position: relative;
				line-height: 3rem;
				border-bottom: 1px solid $gris1;
				a {
					color: $blanco;
					display: block;
					&:hover {
						color: $verde2;
					}
					i {
						position: absolute;
						right: 1rem;
						line-height: 3rem;
						font-size: 0.8rem;
						font-weight: 400;
					}
				}
			}
		}
	}	
}*/