.fila-menu {
	background-color: $blanco;
	color: $negro1;
	padding: .5rem 0 0 0;
	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		.logotipo {
			margin-left: 1rem; 
			img {
			max-width: 100px;
			height: auto;
			}
		}
		.boton-menu {
			border: 0;
			font-size: 1.8rem;
			margin-left: auto;
			margin-right: .5rem;
			padding: 0 .5rem;
			background-color: transparent;
			color: $negro1;
		}
		.boton-menu:focus {
			outline: 0;
		}
		.menu-principal {
			flex: 1 1 100%;
			ul {
				list-style: none;
				padding: 0;
				margin: 1rem 0 0 0;
				.active a {
					color: $verde2;
				}
				a {
					background-color: $negro1;
					display: block;
					padding: .8rem 0;
					text-align: center;
					text-transform: uppercase;
					font-weight: 400;
					font-size: .9rem;
					color: $blanco;
					border-top: 1px solid $gris1;
					text-decoration: none;
					position: relative;
				}
				a::after {
					content:"\f054";
					font-family: FontAwesome;
					font-size: .8rem;
					margin-left: 1rem;
					opacity: .5;
					position: absolute;
					right: 2rem;
				}
				a:hover {
					color: $verde2;
				}
			}
		}
	}
}

/* ---------------------------------
Queries del sitio web
----------------------------------*/
@include desktop {
	.fila-menu {
		.container {
			.menu-principal {
				height: auto !important;
				display: block;
				flex: 0 1 auto;
				margin-left: auto;
				ul {
					display: flex;
					margin: 0;
					.active a {
						border-bottom: 2px solid $verde2; 
					}
					a {
						background-color: $blanco;
						color: $negro2;
						padding: .5rem;
						margin: 0 .3rem;
						border-top: 0px;
						border-bottom: 2px solid transparent;
						transition: all ease .5s;
						&::after {
							display: none;
						}
						&:hover {
							border-bottom: 2px solid $verde2;
						}
					}
				}
			}	
		}
	}
	.menu-animado {
		top: 50px;
		transition: all .5s ease;
		box-shadow: 1px 1px 3px $gris1; 
	}
	.menu-arriba {
		top: 0;
	}
}