.ultimos-proyectos {
	background-color: $negro1;
	padding: 3rem 0;
	.h2-seccion {
		color: $blanco;
		font-size: 1.3rem;
		text-transform: uppercase;
		text-align: center;
		padding: 2rem 0;
	}
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.owl-nav {
		display: flex;
		justify-content: center;
		margin: 1rem 0 0 0;
	}
	.owl-prev, .owl-next {
		color: $verde2;
		font-size: 2rem;
		margin: 0 1rem;
	}
}