.servicios-secundarios {
	display: flex;
	flex-direction: column;
	padding: 3rem 0 0 0;
	.h2-seccion {
		color: $negro1;
		font-size: 1.3rem;
		text-transform: uppercase;
		text-align: center;
		padding: 2rem 0;
	}
	.resumen-titulo {
		color: $gris1;
		font-size: 1rem;
		padding: 0;
	}
	.big-service {
		display: flex;
		flex: 1 1 100%;
		color: $negro2;
		font-size: 1rem;
		text-transform: uppercase;
		border: 1px solid #EBEBEB;
		min-height: 10rem;
		margin: 1rem;
		justify-content: center;
		padding: 1rem;
		flex-direction: column;
		img {
			flex: 1 1 100%;
			width: 80px;
			margin: 1rem auto;
		}
		span {
			flex: 1 1 100%;
			text-align: center;
		}
	}
	.lista-servicios2 {
		width: 100%;
		.item-lista {
			display: flex;
			align-items: flex-start;
			margin-bottom: 1rem;
			.info-lista {
				width: 80%;
				h3 {
					font-size: 1.2rem;
				}
				p {
					font-size: 0.9rem;
					color: $gris1;
					line-height: 1.5rem;
				}
			}
			.img-lista {
				width: 20%;
				max-width: 50px;
				margin-right: 2rem;
			}
		}
		.img-guy {
			max-width: 320px;
		}
	}
	.fila-servicios2 {
		margin: 2rem 0 0 0;
	}
}