$verde1: #F3FF40;
$verde2: #B6BF30;
$verde3: #9BA600;
$morado1: #D871FC;
$morado2: #962FBB;
$morado3: #7700A2;
$blanco: #FFFFFF;
$negro1: #252525;
$negro2: #151515;
$gris1: #969696;
$gris2: #ecf0f1;

//$phoneSmall: 575px;
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopBig: 1200px;